<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>404 Not Found - {{meta_title}}</title>

<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{{asset "built/style.css"}}" />
<link rel="preload" href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" as="style" onload="this.rel='stylesheet'">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body class="{{body_class}}">

{{navigation}}

<main id="content">
<section class="section">
<div class="container content">
<div class="columns is-centered">
<div class="column is-half">
<article class="{{post_class}}">
<h1 class="title has-text-weight-bold has-text-centered">{{statusCode}}</h1>
<h2 class="subtitle has-text-centered bio-author">
{{message}}
</h2>
<div class="buttons is-centered">
<a class="button is-danger is-rounded" href="{{@site.url}}">Go to the Home Page →</a>
</div>
</article>
</div>
</div>
</div>
</section>
</main>

{{!-- footer --}}
<footer class="footer">
<div class="content has-text-centered">
<p>
<a href="https://santhoshveer.com/privacy-policy/">Privacy Policy</a> |
<a href="https://santhoshveer.com/cookie-policy/">Cookie Policy</a>
</P>
<p class="content has-text-centered">
<strong>🔮 Crafted</strong> by <a href="https://www.facebook.com/santhoshveerblog" target="_blank" rel="nofollow noopener">Santhosh Veer</a> - Site Build using Ghost CMS - Hosted on DigitalOcean.
</p>
<p><i class="far fa-copyright"></i> {{date format="YYYY"}} santhoshveer.com</p>
<P>
<a href="https://feedly.com/i/subscription/feed/https://santhoshveer.com/rss/" class="rssicon" title="RSS Feed" target="_blank" rel="nofollow noopener"><i class="fas fa-rss-square"></i></a>
<a href="https://twitter.com/santhoshveerece" class="twittericon" title="Follow us on Twitter" target="_blank" rel="nofollow noopener"><i class="fab fa-twitter"></i></a>
<a href="https://www.facebook.com/santhoshveerblog" class="fbicon" title="Follow us on Facebook" target="_blank" rel="nofollow noopener"><i class="fab fa-facebook"></i></a>
<a href="https://www.instagram.com/santhoshveerece/" class="instagram" title="Tamil SMS on Instagram" target="_blank" rel="nofollow noopener"><i class="fab fa-instagram"></i></a>
</P>
</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script>
(function() {
  var burger = document.querySelector('.burger');
  var nav = document.querySelector('#' + burger.dataset.target);

  burger.addEventListener('click', function() {
      burger.classList.toggle('is-active');
      nav.classList.toggle('is-active');
  });
})();
</script>

</body>
</html>